<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum est
      distinctio, suscipit sapiente necessitatibus explicabo sunt vero earum
      cupiditate voluptas eligendi non culpa officia at.
    </p>
  </header>
  <div class="card-container">
    <div class="card card--primary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit ratione
        illum itaque vero assumenda qui.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rerum est
      distinctio, suscipit sapiente necessitatibus explicabo sunt vero earum
      cupiditate voluptas eligendi non culpa officia at.
    </p>
  </div>
</section>
